@import "../util/flexbox-col";

//
// Toggle classes based on compatibility
//
@if($enableFlexGridCompatibility)
{
  $colClassName:$colClassNameCompatible;
  $colFreeClassName:$colFreeClassNameCompatible;
}

.#{$colClassName} {
  @include flexbox-col(1, 1, 100%);
}

.#{$colFreeClassName}, .free .#{$colClassName} {
  @include flexbox-col();
}

.#{$colFreeClassName}.no-shrink {
  @include flexbox-col(1,0);
}

.#{$colFreeClassName}.no-grow {
  @include flexbox-col(0,1);
}

@import "column/align";
@import "column/fixed-size";
@import "column/order";