/**
 * Show/hide elements for each breakpoint
 */
.visible-xs,
.visible-xs-block,
.visible-xs-inline-block,
.visible-xs-inline,

.visible-sm-down,
.visible-sm-block-down,
.visible-sm-inline-block-down,
.visible-sm-inline-down,

.visible-md-down,
.visible-md-block-down,
.visible-md-inline-block-down,
.visible-md-inline-down,

.visible-lg-down,
.visible-lg-block-down,
.visible-lg-inline-block-down,
.visible-lg-inline-down {
	display: none;
}

@each $breakpoint in map-keys($responsiveBreakpoints) {
	$value: map-get($responsiveBreakpoints, $breakpoint);
	@media (max-width: $value) {
		$className: '-down';
		@if $breakpoint == 'xs' {
			$className: '';
		}

		.hidden-#{$breakpoint}#{$className} {
			display: none;
		}

		.visible-#{$breakpoint}#{$className} {
			display:flex;
		}

		.visible-#{$breakpoint}-block#{$className} {
			display: block;
		}

		.visible-#{$breakpoint}-inline-block#{$className} {
			display: inline-block;
		}

		.visible-#{$breakpoint}-inline#{$className} {
			display: inline;
		}		
	}
}