.#{$rowClassName}.start, .#{$rowColumnClassName}.start {
  @include flexbox-justify(flex-start);
}

.#{$rowClassName}.end, .#{$rowColumnClassName}.end {
  @include flexbox-justify(flex-end);
}

.#{$rowClassName}.center, .#{$rowColumnClassName}.center {
  @include flexbox-justify(center);
}

.#{$rowClassName}.space-between, .#{$rowColumnClassName}.space-between {
  @include flexbox-justify(space-between);
}

.#{$rowClassName}.space-around, .#{$rowColumnClassName}.space-around {
  @include flexbox-justify(space-around);
}

@each $breakpoint in map-keys($responsiveBreakpoints) {
	$value: map-get($responsiveBreakpoints, $breakpoint);
	@media (max-width: $value) {
		.#{$rowClassName}.#{$breakpoint}-start, .#{$rowColumnClassName}.#{$breakpoint}-start {
  			@include flexbox-justify(flex-start);			
		}
		.#{$rowClassName}.#{$breakpoint}-end, .#{$rowColumnClassName}.#{$breakpoint}-end {
  			@include flexbox-justify(flex-end);			
		}
		.#{$rowClassName}.#{$breakpoint}-center, .#{$rowColumnClassName}.#{$breakpoint}-center {
  			@include flexbox-justify(center);			
		}
		.#{$rowClassName}.#{$breakpoint}-space-between, .#{$rowColumnClassName}.#{$breakpoint}-space-between {
  			@include flexbox-justify(space-between);			
		}
		.#{$rowClassName}.#{$breakpoint}-space-around, .#{$rowColumnClassName}.#{$breakpoint}-space-around {
  			@include flexbox-justify(space-around);			
		}										
	}
}
