/**
 * When wrap is NOT enabled
 */
.#{$rowClassName}.v-start, .#{$rowColumnClassName}.v-start {
  @include flexbox-align-items(flex-start);
}

.#{$rowClassName}.v-end, .#{$rowColumnClassName}.v-end {
  @include flexbox-align-items(flex-end);
}

.#{$rowClassName}.v-center, .#{$rowColumnClassName}.v-center {
  @include flexbox-align-items(center);
}

.#{$rowClassName}.v-baseline, .#{$rowColumnClassName}.v-baseline {
  @include flexbox-align-items(baseline);
}

.#{$rowClassName}.v-stretch, .#{$rowColumnClassName}.v-stretch {
  @include flexbox-align-items(stretch);
}

/**
 * When wrap is enabled
 */
.#{$rowClassName}.wrap.v-start, .#{$rowColumnClassName}.wrap.v-start {
  @include flexbox-align-content(flex-start);
}

.#{$rowClassName}.wrap.v-end, .#{$rowColumnClassName}.wrap.v-end {
  @include flexbox-align-content(flex-end);
}

.#{$rowClassName}.wrap.v-center, .#{$rowColumnClassName}.wrap.v-center {
  @include flexbox-align-content(center);
}

.#{$rowClassName}.wrap.v-stretch, .#{$rowColumnClassName}.wrap.v-stretch {
  @include flexbox-align-content(stretch);
}

.#{$rowClassName}.wrap.v-space-between, .#{$rowColumnClassName}.wrap.v-space-between {
  @include flexbox-align-content(space-between);
}

.#{$rowClassName}.wrap.v-space-around, .#{$rowColumnClassName}.wrap.v-space-around {
  @include flexbox-align-content(space-around);
}

