.#{$rowClassName}.wrap, .column.wrap {
  @include flexbox-wrap(wrap);
}

.#{$rowClassName}.no-wrap, .column.no-wrap {
  @include flexbox-wrap(nowrap)
}

.#{$rowClassName}.reverse-wrap, .column.reverse-wrap {
  @include flexbox-wrap(wrap-reverse);
}

@each $breakpoint in map-keys($responsiveBreakpoints) {
	$value: map-get($responsiveBreakpoints, $breakpoint);
	@media (max-width: $value) {
		.#{$rowClassName}.wrap-#{$breakpoint} {
			@include flexbox-wrap(wrap);
		}
	}
}
