/**
 * Alignments
 */
.#{$colFreeClassName}-auto, .#{$colClassName}-auto {
  @include flexbox-col-self-align(auto);
}

.#{$colFreeClassName}-start, .#{$colClassName}-start {
  @include flexbox-col-self-align(flex-start);
}

.#{$colFreeClassName}-end, .#{$colClassName}-end {
  @include flexbox-col-self-align(flex-end);
}

.#{$colFreeClassName}-center, .#{$colClassName}-center {
  @include flexbox-col-self-align(center);
}

.#{$colFreeClassName}-baseline, .#{$colClassName}-baseline {
  @include flexbox-col-self-align(baseline);
}

.#{$colFreeClassName}-stretch, .#{$colClassName}-stretch {
  @include flexbox-col-self-align(stretch);
}

@each $breakpoint in map-keys($responsiveBreakpoints) {
  $value: map-get($responsiveBreakpoints, $breakpoint);

  .#{$colFreeClassName}-#{$breakpoint}-auto, .#{$colClassName}-#{$breakpoint}-auto {
    @include flexbox-col-self-align(auto);
  }

  .#{$colFreeClassName}-#{$breakpoint}-start, .#{$colClassName}-#{$breakpoint}-start {
    @include flexbox-col-self-align(flex-start);
  }

  .#{$colFreeClassName}-#{$breakpoint}-end, .#{$colClassName}-#{$breakpoint}-end {
    @include flexbox-col-self-align(flex-end);
  }

  .#{$colFreeClassName}-#{$breakpoint}-center, .#{$colClassName}-#{$breakpoint}-center {
    @include flexbox-col-self-align(center);
  }

  .#{$colFreeClassName}-#{$breakpoint}-baseline, .#{$colClassName}-#{$breakpoint}-baseline {
    @include flexbox-col-self-align(baseline);
  }

  .#{$colFreeClassName}-#{$breakpoint}-stretch, .#{$colClassName}-#{$breakpoint}-stretch {
    @include flexbox-col-self-align(stretch);
  }
}