$increment:100% / $fixedSizeCount;

@for $i from 1 through $fixedSizeCount {
.#{$colClassName}-#{$i} {
  @include flexbox-col-grow-shrink-basis(0,1, $increment * $i);
  }
}

@for $i from 1 through $fixedSizeCount {
  .offset-#{$i} {
    margin-left:$increment * $i;
  }
}

// create separate width classes for smaller sizes, such as .col-sm-20, .col-xs-100 to change the widths when sizing down from desktop

@each $breakpoint in map-keys($responsiveBreakpoints) {
	$value: map-get($responsiveBreakpoints, $breakpoint);
	@media (max-width: $value) {
		@for $i from 1 through $fixedSizeCount {
			.#{$colClassName}-#{$breakpoint}-#{$i} {
				@include flexbox-col-grow-shrink-basis(0, 1, $increment * $i);
			}
		}
	}
}

// create separate offset classes for smaller sizes, or to remove an offset used on a larger size by using .#{$breakpoint}-offset-0

@each $breakpoint in map-keys($responsiveBreakpoints) {
	$value: map-get($responsiveBreakpoints, $breakpoint);
	@media (max-width: $value) {
		@for $i from 0 through $fixedSizeCount {
			.#{$breakpoint}-offset-#{$i} {
				margin-left: $increment * $i;
			}
		}
	}
}