@for $i from 1 through $fixedSizeCount {
.#{$colClassName}-order-#{$i} {
  @include flexbox-col-order($i);
  }
}

// create order classes for each responsive size such as .xs-order-1, .md-order-4 etc. to reorder elements on smaller sizes

@each $breakpoint in map-keys($responsiveBreakpoints) {
	$value: map-get($responsiveBreakpoints, $breakpoint);
	@media (max-width: $value) {
		@for $i from 1 through $maxNumberOfOrderColumns {
			.#{$breakpoint}-order-#{$i} {
				@include flexbox-col-order($i);
			}
		}
	}
}