html {
    font-size:16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


.row {
    border:1px solid #cccccc;
    padding:.8rem;
    margin:.8rem;
    border-radius:.5rem;
}
.col, .col-50, .col-10, .col-30,  .col-free {
    background:#eee;
    border:1px solid #cccccc;
    min-height:10rem;
    border-radius:.5rem;
}

.wrap .col-40 {
    background:#eee;
    border:1px solid #cccccc;
    border-radius:.5rem;
}

.col p {
    font-size:1rem;
    text-align: center;
}

.column-alignment-demo {
    height:20rem;
}

.row-as-column {
    height:20rem;
}