//
//The number of fixed size columns to make
//
$fixedSizeCount:50 !default;

//
//Flex Grid uses class names like ".row" which could
//conflict with things like bootstrap. Turning this on
//will make all class names that conflict start with ".flexgrid-"
//
$enableFlexGridCompatibility:false !default;

//
//The default class name for rows
//
$rowClassName:'row' !default;

//
//The default class name for rows in compatibility mode
//
$rowClassNameCompatible:'flexgrid-row' !default;

//
//The default class for rows being displayed as columns
//
$rowColumnClassName:'column' !default;

//
//The default class for rows being displayed as columns in compatibility mode
//
$rowColumnClassNameCompatible:'flexgrid-column' !default;

//
//The default class for columns
//
$colClassName:'col' !default;

//
//The default class for columns in compatibility mode
//
$colClassNameCompatible:'flexgrid-col' !default;

//
//The default class for free-form columns
//
$colFreeClassName:'col-free' !default;

//
//The default class for free-form columns in compatibility mode
//
$colFreeClassNameCompatible:'flexgrid-col-free' !default;

//
// Breakpoints used for mobile and tablet
//
$responsiveBreakpoints: (
  lg: 1199px,  
  md: 991px,
  sm: 767px,
  xs: 543px,
) !default;

// Max number of order columns
$maxNumberOfOrderColumns: 20 !default;;